


@media (min-width:1600px){

    .c_header_contact_alignment p {
        text-align: center;
        font-size: 20.5px;
        border: 1px solid none;
        width: 100%;
        color:white;
        font-weight: 900;
      }

      /* The header navigation bar */
      .c_header_navbar ul {
        float:right;
        margin-right: 10%; 
        margin-top: -5%;
      }

      .c_menu_header .c_menu_header_image_link img{
        max-width: 6.5%;
    }

    .c_main_2 {
        height: 100%;
        background: white;
        padding: 0% 2% 7.5% 2%;
        border: 2px solid none;
        margin-top: -6%;
    }

    .c_articles_row {
        border:none solid 2px;
        height: auto;
        display: grid;
        grid-template-columns: 300px 300px 300px ;
        grid-template-rows: auto;
        grid-gap: 10.5%;
        margin-top: 2cm;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }

      .c_articles_column {
        border: 2px solid none;
        background: none;
        width: 353.33px;
        height: 505px;
        margin-left: 30%;
        display: none;
      }


      .c_articles_column_body_title h2 {
        color: black;
        font-size: 25px;
    }

      .c_articles_column_body_content_paragraph {
        font-size: medium;
      }

      .c_articles_load_button_container {
        border: 2px solid none;
        width: 100%;
        padding: 0%;
        margin-left: 195%;
        position: relative;
      }

      .c_articles_load_button {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        cursor: pointer;
        width: 100%;
        padding: 2%;
        font-size: 20px;
        border: none;
        transition: all 2s ease-in-out;
      }

      .c_articles_load_button:hover {
        background-color: brown;
        transition: all 2s ease-in-out;
      }

      .c_related_articles_paragraph a{
        text-decoration: none;
        color: white;
        margin-left: -0.1cm;
    }

}