/*website icon styling both big size and media query*/

@font-face {
  font-family: 'Fredoka-Regular';
  src: url('css/static/Fredoka/Fredoka-Regular.ttf')
}

.c_contact_href {
  color: white !important;
}


.spinner{
  width:80px; 
  height:80px;  
  position:absolute; 
  top:0; 
  bottom:0; 
  left:0; 
  right:0; 
  margin:auto; 
  border: 2px solid none;
}

.spinner img {
  width: 90px; 
  height:90px;
  animation:spin 3s infinite ease-in-out;
}

@keyframes spin {

  0%{
    transform: rotate(0deg);
  }

  100%{
    transform:rotate(360deg);
  }

}

#overlay{
  height:100vh;
  width:100%;
  background:white;
}


.c_icon_general_styling {
  color: #f6921e;
  font-size: 20px;
}

.c_icon_general_styling:hover {
  text-decoration: 2.5px underline;
  cursor: grabbing;
}

p .c_icon_header_content_general_styling {
  font-size: 25px;
}



.c_icon_header_content_general_styling:hover {
  text-decoration: 2.5px underline;
  cursor: grabbing;
}

.c_articles_column_body_href .c_icon_read_general_styling {
  font-size: 20px;
}


 .c_contact_map_text > .c_icon_map_location {
  font-size: 70px;
}


.c_Subscribe_to_our_Newsletter > .c_icon_Subscribe_to_our_Newsletter {
  font-size: 70px;
}


.c_footer_five_container_paragraph_one > .c_icon_footer_five_header {
  font-size: 35px;
}

/*website icon styling both big size and media query*/



*{
    color: black;
}

html{
    box-sizing:border-box;
}


body {
    margin:0;
    border: 2px solid none;
    overflow-x: hidden;
}

header {
  border: 2px solid none;
  z-index: 1;
  position: relative;
}

.c_menu_header_shortcut_menu {
  display: none;
}


.c_header_contact {
  background-image: url("../pictures/testing picture/footer_header_website_background_image.jpg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  position: static;
  display: flex;
  justify-content: center;
  width: 100%;
  border: 2px solid none;
  padding: 1%;
}


.c_header_contact_alignment  {
  border: 1px solid none;
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: auto;
}

.c_header_paragraphcontact_alignment {
  border: 2px solid none;
  display: flex;
  flex-wrap: wrap;
}

.c_header_contact_container {
  border: 2px solid none;
  display: flex;
  padding: unset;
}

.c_header_contact_container .c_header_contact_items p {
  border: 2px solid none;
  color: white;
}

.c_header_contact_container .c_header_contact_items i {
  border: 2px solid none;
  font-size: x-large;
}

/* The header navigation bar */
.c_header_navbar {
    position: static; /* Set the navbar to fixed position */
    bottom: 1; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
    height: 70px;
    background: white;
    z-index: 1;
    background-image: linear-gradient(white);
    border-bottom: none;
    display: flex;
    filter: drop-shadow(.5em .5em .3em);
    justify-content: space-between;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  



.c_menu_header .c_menu_header_image_link img{
    border: 2px solid none;
    max-height: 100%;
    position: relative;
    left: 100%;
    width: 70px;
    
}


.checkbox{
    float:right; 
    margin-top:16px; 
    display: none;
}

.checkbotton{
    float:right;
    padding:20px;
    display: none;
}

#checkbox{
    display: none;
}

.c_checkbox {
    border: 2px solid none;
    display: none;
}


.c_menu_options {
  border: 2px solid none;
  width: fit-content;
  height: fit-content;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
  z-index: 1;
}

.c_menu_options_container {
  border: 5px solid none;
  display: flex;
}

.c_menu_options .c_menu_list, .c_menu_options .c_search_container {
  display: flex;
  border: 2px solid none;
}

.c_menu_options_items {
  border: 2px solid none;
  color:#f6921e;
  font-weight: 800;
  text-decoration: none;
  font-size: 100%;
  word-spacing: 0.10em;
  letter-spacing: 0.01em;
  transition-property: all;
  transition-duration: 500ms;
  transition-delay: 0ms;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  height: fit-content;
  position: relative;

}

.c_menu_options_items:hover {
  color:brown;
  font-weight:900;
  font-size: larger;
  transition-property: all;
  transition-duration: 500ms;
  transition-delay: 0ms;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.c_menu_acordion_panel {
  border: 1px solid red;
  display: inherit;
  background-color: #04AA6D;
  color: white;
  position: absolute;
  margin-top: 10%;
  display: none;
}


.c_search_container {
  border: 2px solid none;
  width: fit-content;
  height: fit-content;
}


.c_search_container form {
  border: 2px solid none;
  margin-top: -1%;
}

.c_search_container form input {
  border: 2px solid black;
  width: 8cm;
  height: 0.99cm;
  border-radius: 0.19rem;
}

.c_search_container form input[type="text"] {
  font-size: 22px;
}

.c_search_container form button{
  border: 2px solid #f6921e;
  background-color: #f6921e;
  font-size: 20px;
  margin-left: -0.1cm;
  color: white;
  width: fit-content;
  height: 0.99cm;
  cursor: pointer;
  font-size: larger;
  transition-property: all;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-duration: 700ms;
  transition-delay: 0ms;
}


.c_shortcut_menu_footer_container {
  display: none;
}

.fa-search {
color: white;
}

.c_search_container form button:hover {
  border: 2px solid black;
  background-color: brown;
  font-size: 22px;
  color: #f6921e;
  width: fit-content;
  cursor: pointer;
  font-size: larger;
  transition-property: all;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-duration: 700ms;
  transition-delay: 0ms;
}

.fa-search:hover {
color: black;
}

main {
  border: 5px solid none;
}

.c_main_0 {
  border: 2px solid none;
  position: relative;
}

.c_slide {
  border: 2px solid none;
}

.c_main_0 .c_slide_container.active {
  display: block;
}

.c_main_0 .c_slide_container {
  display: none;
}

.c_main_0 .c_slide_container .c_slide {
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 20px;
  padding-bottom: 70px;
  padding-right: 70px;
  padding-left: 70px;
}

.c_main_0 .c_slide_container .c_slide .c_image{
  border: 2px solid none;
  flex: 1 1 300px;
 }

.c_main_0 .c_slide_container .c_slide .c_content{
  border: 2px solid none;
  flex: 2 1 300px;
  animation: slideContent .4s linear .6s backwards;
}

@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
}

.c_main_0 .c_slide_container .c_slide .c_content h3{
  font-size: 40px;
  font-style: italic;
  color: #f6921e;
  font-weight: 800;
 }

 .c_main_0 .c_slide_container .c_slide .c_content p{
  font-size: 25px;
  color: black;
  padding: 10px 0;
  animation: slideLandingPageParagraph .4s linear .6s backwards;
 }

 @keyframes slideLandingPageParagraph {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
}

.c_main_0 .c_slide_container .c_slide .c_image img{
  border: 2px solid none;
  width: 70%;
  max-height: 60vh;
  animation: slideImage .4s linear;
 }

 @keyframes slideImage {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
}

 .c_main_0 .c_slide_container .c_slide .c_content .c_slide_content_btn{
  margin-top: 10px;
  display: inline-block;
  background: #f6921e;
  color: #fff;
  font-size: 17px;
  padding: 9px 40px;
  transition: all .5s linear;
 }

 .c_main_0 .c_slide_container .c_slide .c_content .c_slide_content_btn:hover{
  background: brown;
 }


 .c_main_0 .c_slide_container:nth-child(1) .c_slide{
  background: linear-gradient(90deg, #f9f9f9 70%, #ffff99 30.1%)
 }
 
 .c_main_0 .c_slide_container:nth-child(2) .c_slide{
  background: linear-gradient(90deg, #f9f9f9 70%, #ffff99 30.1%)
 }

 .c_main_0 .c_slide_container:nth-child(3) .c_slide{
  background: linear-gradient(90deg, #f9f9f9 70%, #ffff99 30.1%)
 }

 .c_landingPage_slideShow_btns_container{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 65px;
  line-height: 50px;
  font-size: 27px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
  background-image: url("../pictures/testing picture/footer_header_website_background_image.jpg") !important;
  border-radius: 0.5rem;
 }

 .c_landingPage_slideShow_btns_container:hover {
  background-image: linear-gradient(white, white);
 }

 .c_main_0 #c_next {
  right: 20px;
 }

 .c_main_0 #c_prev {
  left: 20px;
 }

 .c_landingPage_slideShow_btns_icons {
  color: #f6921e;
 }

 .c_main_0_A_header {
  border: 2px solid none;
  height: 4.5cm;
 }

 .c_main_0_A_header h2{
  border: 2px solid none;
  width: fit-content;
  color:rgb(255, 129, 11); 
  text-align: center; 
  font-size: 40px; 
  font-weight: bolder; 
  font-style:italic;
  margin-left: auto;
  margin-right: auto;
 }

 .c_main_0_A_header div{
  border: 2px solid none;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
 }

 .c_main_0_A_header div i{
  border: 2px solid none;
  width: fit-content;
  color:rgb(255, 129, 11); 
  text-align: center; 
  font-size: 50px; 
  font-weight: bolder; 
  font-style:italic;
  display: flex;
  justify-content: center;
  cursor: crosshair;
  animation: svhtIcon 1.8s ease-in-out infinite;
  position: absolute;
 }

 @keyframes svhtIcon{

  0% {
    margin-top: 1%;
  }
  100% {
    margin-top: 2%;
  }

  

 }

 .c_main_0_A_content_container {
  border: 2px solid none;
  margin-top: auto;
  margin-bottom: 7.5cm;
  height: 10cm;
  display: flex;
  justify-content: space-evenly;
 }

 .c_main_0_A {
  border: 2px solid none;
  width: 38%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  padding: 1.2%;
  background-color: rgb(250, 250, 250);
  border-radius: 1rem;
 }

 .c_main_0_A_content_container .c_main_0_A {
  filter: drop-shadow(.1em .1em .1em);
  border: none;
 }

.c_main_0_A_iframe_contains {
  border: 2px solid none;
  height: 8cm;
}


.c_main_1 {
  border: 12px solid none;  
}

.c_main_1_main {
  border: 12px solid none;
  width: 98%;
  margin-left:auto;
  margin-right: auto;
}

.c_main_1_main_title_container {
    border: 2px solid none;
    display: flex;
    justify-content: space-between;
    margin: 10% 2.5% 1% 2.5%;
  }
  
  .c_main_1_main_title_A .c_main_1_main_title_B {
    border: 2px solid black;
  }
  
 
  
  .c_main_1_main_content_container {
    border: 21px solid none;
    margin-top: 0;
    height: auto;
    padding: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  
  .c_main_1_main_content_one_image a img {
    width: 10.2cm;
    border: 2px solid white
  }
  
  .c_main_1_main_content_one_text, h2{
    color: black;
    font-size: larger;
  }


  /* The main 2 */
.c_main_2 {
  border: 21px solid none;
    height: 100%;
    background: white;
    padding: 2%;
}

.c_main_2_header {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid none;
  height: fit-content;
  width: fit-content;
  margin-top: 2%;
  margin-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
}

.c_main_2_title {
  border: 2px solid none;
  width: 100%;
  font-weight: 800;
  text-align: center;
}

.c_main_2_title_text {
  border: 2px solid none;
  font-size: 39.5px;
  word-spacing: 0.1em;
  letter-spacing: 0.9px;
  margin-bottom: 0.4cm;
}

.c_main_2_content_search {
  border: 2px solid none;
  height: auto;
  width: 100%;
}

.c_search_2_input {
  border: 2px solid none;
  width: 80%;
  height: 4.5vh;
}

.c_search_2_button {
  float: right;
  border: 2px solid red;
  background: #f6921e;
  color: white;
  width: 18.5%; 
  height: 4.5vh;
  transition: all 500ms ease-in-out;
}

.c_search_2_button:hover {
  opacity: 1;
  color: brown;
  transition: all 500ms ease-in-out;
}


.c_articles_row {
  border:none solid 2px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2.5%;
}

.c_articles_column {
  border: 2px solid none;
  background-color: white;
  filter: drop-shadow(.1em .1em .1em);
  width: 333.33px;
  height: 505px;
  margin-left: 6%;
  margin-bottom: 8%;
  display: none;
}

.c_articles_column:nth-child(1) {
  display: block;
}

.c_articles_column:nth-child(2) {
  display: block;
}

.c_articles_column:nth-child(3) {
  display: block;
}

.c_articles_column:nth-child(4) {
  display: block;
}

.c_articles_column:nth-child(5) {
  display: block;
}


.c_articles_load_button_container {
  border: 2px solid none;
  width: 100%;
  padding: 1%;
  position: relative;
  display: flex;
  justify-content: center;
}

.c_articles_load_button {
  width: 50%;
  cursor: pointer;
  padding: 2%;
  color: white;
  background: #f6921e;
  font-size: x-large;
  border-radius: 1rem;
  transition: all 1s ease-in-out;
}


.c_articles_load_button:hover {
  background-color: brown;
  transition: all 2s ease-in-out;
}



.c_articles_column_category {
  border-radius: 5em;
  width: fit-content;
  height: fit-content;
  background-color: #f6921e;
  padding: 0.4% 0.4% 0.4% 0.4%;
  font-size: 12px;
  margin-left: 0.5cm;
  margin-top: 0.5cm;
  position:absolute;
  text-align: center;
  color: white;
}

.c_articles_column_image {
  width: 100%;
  height: fit-content;
}

.c_articles_column_body {
  border: 2px solid white;
  padding: 6%;
}

.c_articles_column_body_title {
  text-align: left;
  padding: 2.5%;
  margin-top: -0.9cm;
  word-spacing: 0.1cm;
  letter-spacing: 0.01em;
}

.c_articles_column_body_title h2 {
    color: black;
    font-size: 20px;
}

.c_articles_column_body_content {
  padding: 2.5%;
  word-spacing: 0.1cm;
  letter-spacing: 0.01em;
  font-size: 11px;
}

.c_articles_column_body_content_paragraph {
  font-size: small;
  color: black;
  line-height: 1.3em;
}

.c_articles_column_body_readmore_content {
  padding: 2%;
  font-weight: bolder;
}

.c_articles_column_body_readmore_content a {
    color: black;
}

.c_articles_column_body_href {
  color: #ddd;
  font-weight: bolder;
}



footer {
    border: 12px solid none;
    background-image: url("../pictures/testing picture/footer_header_website_background_image.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.c_footer_container {
  border: 10px solid none;
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.c_footer_one {
  margin-bottom: 10%;
}
  
  .c_footer_two .c_more_content {
    font-size: small;
    color: white;
    letter-spacing: 0.1em;
    font-size: medium;
}

.c_more_content {
  border: 2px solid none;
  width: 100%;
}

.c_footer_two_content_list_items {
    list-style-type: none;
}

  .c_footer_image_logo_container {
    border: 2px solid none;
    width: 20%;
    margin-top: 0.2cm;
    margin-left: auto;
    margin-right: auto;
    height: 2.1cm;
}

.c_footer_image_logo {
    color: white;
    text-align:center;    
}

.c_footer_image_logo img{
    width : 80px;
    height: 80px;
}

.c_footer_content_text_container {
  border: 7px solid none;
  width: 100%;
  height: fit-content;
  line-height: 2.5ex;
  margin-top: 0.3cm;  
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  padding: 1%;
  text-align: center;
  font-size: 25px;
}

.c_footer_one_title {
  border: 1px solid none;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 25%;
}

.c_footer_one_titles {
  font-weight: bolder;
  letter-spacing: 0.6em;
}

.c_footer_paragraph_for_one {
  text-align: center;
  width: fit-content;
  border: 1px solid none;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
  color: white;
}

  .c_footer_two {
    display: flex;
    flex-wrap: wrap;

}

.c_footer_two_1 {
  border: 2px solid none;
}

.c_footer_RELATED_ARTICLES {
  border: 2px solid none;
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 5%;
  width: fit-content;
}

.c_footer_two_content_hyperlink {
  border: 2px solid none;
  color: white;
  
}

 .c_related_articles {
    border: 11px solid none;
    height: 100%; 
    width: 150px;
}

.c_related_articles_paragraph {
  border: 2px solid none;
  height: fit-content;
  width: 270px;
  margin-left: 2%;
} 



.c_footer_two_contain .c_footer_two_content_list a .c_footer_two_content_list_items {
  line-height: 1.5em;
  color: white;
  letter-spacing: 0.09em;
}

.c_footer_two_contain .c_footer_two_content_list a .c_footer_two_content_list_items:hover {
  color: brown;
}


.c_footer_two_contain .c_footer_two_content_list a {
  text-decoration: none;
  list-style-type: none;
  transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 0ms;
  transition-timing-function: steps(2, 10);
}


.c_contact_map_text_container .c_contact_map_text{
  font-size: 25px;
  color: white !important;
  text-align: center;
  border: 2px solid none;
  width: fit-content;
}



.c_contact_map {
  border: 2.5px solid none;
  width: 100%;
  height: fit-content;
}

.c_contact_map iframe {
height: 10cm;
width: 100%;
}


/* The subscribe form**/


.c_subscribe_title_container {
    padding: 2px;
    background-color: transparent;
    text-align: center;
  }


  .c_subscribe_title_container p{
    color: white;
    font-size: 25px;
    font-weight: 700;
    line-height: 2em;
  }

  .c_subscribe_title_container h2{
    color: white;
    font-size: 35px;
    font-weight: 700;
  }

.c_Subscribe_form {
    display: flex;
    border: 3.9px solid none;
}

.c_subscribe_form_container {
    border: 2px solid none;
    background-color: transparent;
    margin-left: 25%;
    width: 50%;
    height: fit-content;
    line-height: 0.5cm;
}

.c_subscribe_main_form {
    display: table;
}

.c_subscribe_input_types {
    border: 2px solid black;
    color: black;
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 1.35cm;
    margin-left: 10%;
    margin-bottom: 2.1vh;
}

.c_subscribe_Daily_Newsletter {
    float: left;
    margin-top: 1.1vh;
    border: 2px solid none;
    margin-left: 10%;
    color: white;
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.c_subscribe_Daily_Newsletter_text {
  color: white;
  font-size: 20px;
}


.c_Subscribe_button_container {
    float: left;
    margin-top: 0.5cm;
    border: 2px solid none;
    margin-left: 10%;
    width: 80%;
    border-radius: 5%;
}

.c_Subscribe_button_container .c_Subscribe_submit_button {
  width: 100%;
  cursor: pointer;
}



input[type=text], input[type=submit] {
    font-size: larger;
    padding: 12px;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5rem;
  }

  .c_Subscribe_to_our_Newsletter {
    font-size: x-large;
    line-height: 2em;
    text-align: center;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    font-size: 25px;
    text-align: center;
    width: fit-content;
  }

  input[type=submit]:hover {
    opacity: 0.8;
  } 


  .c_footer_five {
    border: 2px solid none;
    display: flex;
    font-size: 17px;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 10%;
  }

  .c_footer_five_container {
    border: 2px solid none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 2%;
  }


 
.c_footer_five_container  .c_footer_five_container_one_A .c_footer_five_container_paragraph_one,.c_footer_five_container .c_footer_five_container_one_B .c_footer_five_container_paragraph_one{
  color: white;
}

.c_footer_five_container .c_footer_five_container_one_C .c_footer_five_container_one_B_content_A .c_footer_navbar_text {
  color: white;
}


.c_footer_five_container .c_footer_five_container_one_D .c_footer_five_container_one_B_content_B .c_footer_navbar_text {
  color: white;
}


.c_share_content_button_container .fa-facebook{
  color: #3b5998;
  margin: 12px;
}

.c_share_content_button_container .fa-twitter{
  color: #1da1f2;
}

.c_share_content_button_container .fa-linkedin{
  color: #0077b5;
}

.c_share_content_button_container .fa-whatsapp{
  color: #25d366;
}


.c_social_media_link_section{
  border: 2px solid none;
  font-size: 18px;
  color: white;
  margin-bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.c_fa_social_icons {
  border: 2px solid none;
  color: white;
}












.c_error_message {
  border: 2px dashed azure;
  background-color:azure;
  color: red;
  padding: 10% 10% 10% 10%;
  line-height: 1.3em;
  font-weight: bolder;
  height: 90vh;
}









@media(max-width: 850px) {


.c_header_contact {
  padding: 5.5%;
}

.c_header_contact_container {
  padding: 1%;
}


  .c_header_navbar {
    height: 80px;
  }

  .c_menu_header .c_menu_header_image_link img{
    left: 50%;
}
  .c_checkbox {
    border: 2px solid none;
    display: block;
    margin-right: 10%;
    cursor: pointer;
}

.c_checkboxToggle {
  margin-right: 0%;
}

.c_checkbox_close {
  border: 1px dashed black;
  width: fit-content ;
  margin-top: 1%;
  margin-left: 5%;
  }

.c_bar1, .c_bar2, .c_bar3 {
  width: 40px;
  height: 5px;
  background-color: #f6921e;
  margin: 6px 0;
  transition: 0.4s;
}

.c_menu_shortcut_icon_container_close .c_bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.c_menu_shortcut_icon_container_close .c_bar2 {
  opacity: 0;
}

.c_menu_shortcut_icon_container_close .c_bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
} 


  .c_menu_options { 
    /* background-image: url("../pictures/testing picture/images-7.png") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background: white;
    width: 100%;
    height: 100vh;
    border: 5px solid none;
    position: fixed;
    left: 100%;
    top: 0;
    padding: 0%;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    display: block;
    overflow: auto;
    z-index: 1;
    /* flex-wrap: nowrap;
    overflow-x: hidden;
    flex-direction: column-reverse; */
  }

  .c_menu_options_items {
    color: black;
  }

 .c_menu_list {
    border: 2px sandybrown none;
    margin-bottom: 2.5%;
  }

  .c_menu_options_items:hover {
    color: unset;
    font-weight: unset;
    font-size: unset;
    transition: unset;
  }

  #checkbox:checked ~ .c_menu_options {
    left: 0%;
  }

  .c_menu_options .c_menu_list, .c_menu_options .c_search_container {
  display: block;
  border-bottom: 5px solid black;
  cursor: pointer;
}

  .c_menu_acordion_panel {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-left: none;
    border-right: none;
    display: none;
    padding-left: 2%;
    background-color:white;
    margin-top: -4%;
    position: relative;
  }
  

  .c_menu_acordion_panel_list .c_menu_acordion_panel_list_details{
    border:  none;
    width: 100%;
    padding: 0% 2% 0% 2%;;
    list-style-type: armenian;
    list-style-position: outside;
  }

.c_menu_acordion_panel_list .c_menu_acordion_panel_list_details a{
    color: black;
    font-size: large;
    line-height: 1.5em;
    text-decoration: none;
    list-style-type: none;
  }


  .c_menu_list:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-right: 1cm;
    font-size: 30px;
  }
  
  .active:after {
    content: "\2212";
  
  }

  .c_menu_options_container {
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    padding: 0;
    position: relative;
    overflow-x: hidden;
  }
  

  .c_menu_options_shortcut_signature {
    border: 2px solid none;
    text-align: center;
    padding: 0% 5.99% 5.99% 5.99%;
  }

  .c_menu_acordion_panel_container_WWA {
    text-align: center;
    font-size: large;
    line-height: 1.3em;
  }


  
  .c_main_0_A_content_container {
    flex-direction: column;
    height: auto;
    margin-top: 2.3cm;
   }
  
   .c_main_0_A {
    border: 2px solid none;
    width: 95%;
    margin-top: auto;
    margin-bottom: 30%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    filter: drop-shadow(.1em .1em .1em);
    padding: 6% 2% 6% 2%;
   }

  .c_search_container {
    border: 2px solid none;
    border-top: 5px solid black;
    order: -1;
    width: 100%;
    flex-wrap: nowrap;
    margin-bottom: 1.5%;
  }
  

  .c_search_container form {
    border: 2px solid black;
    width: 100%;
    height: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;

  }
  
  .c_search_container form input {
    border: 2px solid black;
    width: 78%;
    height: 1cm;
    border-radius: 0.19rem;
  }
  
  .c_search_container form input[type="text"] {
    font-size: 18px;
  }
  
  .c_search_container form button{
    border: 2px solid #f6921e;
    background-color: #f6921e;
    font-size: 15px;
    margin-left: -0.1cm;
    color: white;
    width: 19%;
    height: 0.99cm;
    cursor: pointer;
    font-size: larger;
    transition-property: all;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transition-duration: 700ms;
    transition-delay: 0ms;
  }

  
.c_shortcut_menu_footer_container {
  display: block;
}

  .c_span_text_for_load_more_articles {
    display: none;
  }



  .c_articles_column {
    filter: drop-shadow(.0em .0em .1em);
    width: 97%;
    margin-bottom: 4cm;
    margin-left: auto;
    margin-right: auto;
  }

  .c_articles_load_button_container {
    border: 2px solid none;
    width: 100%;
  }

  .c_articles_load_button {
    width: 100%;
  }

  .c_subscribe_form_container {
    border: 2px solid none;
    background-color: transparent;
    margin-left: 0%;
    width: 100%;
}

  .c_footer_container {
    border: 10px solid none;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .c_footer_one_title {
    border: 1px solid none;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 25%;
    width: 100%;
  }
  
  .c_footer_one_titles {
    font-weight: bolder;
    letter-spacing: 0.1em;
    width: 100%;
  }

  .c_footer_five_container {
    border: 2px solid none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    padding: 5%;
  }

  .c_footer_five_container  .c_footer_five_container_one_A, .c_footer_five_container .c_footer_five_container_one_B{
    border: 2px solid none;
    min-width: 100%;
    margin-bottom: 10%;
  }

 .c_footer_five_container .c_footer_five_container_one_C{
    border: 2px solid none;
    min-width: 100%;
    margin-bottom: 2%;
  }

  .c_footer_five_container .c_footer_five_container_one_D{
    border: 2px solid none;
    min-width: 100%;
    margin-bottom: 4%;
  }

  .c_footer_five_container {
    margin-top: 5%;
  }

  .c_social_media_link_section{
    border: 2px solid none;
    font-size: 18px;
    color: white;
    margin-bottom: 7%;
    width: fit-content;
    display: flex;
    justify-content: space-between;
  }
  
  .c_footer_social_links {
    margin-left: 5.5%
  }
  .c_fa_social_icons {
    border: 2px solid none;
    color: white;
  }
}


















