@media (max-width:858px){

    

    .c_menu_shortcut_icon_container {
        cursor: pointer;
        margin-top: -2cm;
        margin-right: 1.1cm;
        float: right;
      }
      
      .c_bar1, .c_bar2, .c_bar3 {
        width: 40px;
        height: 5px;
        background-color:  #f6921e;
        margin: 6.5px 0;
        transition: 0.4s;
      }
      
      .change .c_bar1 {
        transform: translate(0, 11px) rotate(-45deg);
      }
      
      .change .c_bar2 {opacity: 0;}
      
      .change .c_bar3 {
        transform: translate(0, -11px) rotate(45deg);
      }
    
      .c_articles_column_body_href .c_icon_read_general_styling {
        color: black;
      }
    
      .c_articles_column_body_href .c_icon_read_general_styling:hover {
        color: white;
      }




    body {
     overflow-x: hidden;
    }
 
    .c_header_contact {
     height: auto;
   }
   

   .c_header_contact_alignment {
    transform: translate(0%, 10%);
   }
   
 
     header {
         position: fixed;
         margin-top: -5.6cm;
         height: 2.4cm;
         z-index: 1;
     }
 
     .c_menu_header .c_menu_header_image_link img{
         max-width: 20%;
     }
 
     .c_header_navbar {
         border: 1px solid none;
         height: fit-content;
     }
 
     .checkbox{
         float:right; 
         margin-top:16px; 
         display:block; 
         cursor:pointer;
     }
 
     .checkbotton{
         display: block;
         border: 1px solid rgba(0, 0, 0, 0.3);
         background:rgba(0, 0, 0, 0.3);
         margin-top: -2cm;
         margin-right: 0.5cm;
         cursor: pointer;
         transition-property: all;
         transition-timing-function: cubic-bezier(1, 0, 0, 1);
         transition-duration: 500ms;
         transition-delay: 0ms;
     }
 
     .checkbotton:hover{
         border: 1px solid rgba(0.5, 0, 0, 0.3);
         background:rgba(0, 0, 0, 1);
         color: white;
         transition-property: all;
         transition-timing-function: cubic-bezier(1, 0, 0, 1);
         transition-duration: 500ms;
         transition-delay: 0ms;
     }
 
     .c_checkbox {
         border: 2px solid none;
         display: block;
     }
 
     .c_menu_options{
         border: 2px solid none;
         position: fixed;
         min-width: 100%; 
         height: 90vh; 
         background-image: linear-gradient(30deg, whitesmoke, whitesmoke, white);
         left:100%; 
         text-align: left; 
         transition: all .5s; 
         display:grid;
         z-index: 1;
         transform: translate(0%, 5.5%);
     }
 
     .c_header_navbar ul li{
         display: block;
     }
 
     .c_menu_list {
         margin-top: 10cm;
         border: 2px solid none;
         background-image: linear-gradient(30deg, whitesmoke, whitesmoke, white);
         padding: 0;
         text-decoration: none;
     }
 
 
     .c_menu_list .c_menu_options_items{
         text-decoration: none;
     }
     
 
     .c_menu_list .c_menu_options_home, .c_menu_options_about, .c_menu_options_blog, .c_menu_options_whoweare, .c_menu_options_contact, .c_menu_options_appoinment{
         border: 2px solid none;
         text-decoration: none;
         position: relative;
         top: 0.7cm;
         margin-left: -0.7cm;
         font-size: 18px;
         cursor: pointer;
         color: black
     }
 
 
     #checkbox:checked ~ ul{
         left:0%;
     }
 
 
 
       main {
         margin-top: 4cm;
       }
 
       
 .c_main_1_main_title_container {
     border: 2px solid none;
     padding: 1%;
     height: fit-content;
     margin-top: 40%;
     margin-bottom: 40%;
     transform: translate(0px, 100px);
     }
     
     .c_main_1_main_title_A h2 a {
     border: 2px none black;
     width: 6.4cm;
     left:-1cm;
     color: rgb(16, 20, 122);
     font-size: 30px;
     text-align: center;
     z-index:-1;
     }
     
     .c_main_1_main_title_B h2 a {
     border: 2px solid black;
     width: 4.4cm;
     right: -1cm;
     color: black;
     font-size: 19.5px;
     text-align: center;
     }
     
     .c_main_1_main_content_container {
     border: 2px solid white;
     margin-top: 0;
     height: auto;
     padding: 0%;
     display: flex;
     flex-direction: column;
     }
     
     .c_main_1_main_content_one {
     margin-left: 0%;
     margin-bottom: 17%;
     min-width: 100%;
     padding: 1.5%;
     }
     
     .c_main_1_main_content_one_image a img {
     min-width: 100%;
     border: 2px solid white;
     min-height: 100%;
     }
     
     .c_main_1_main_content_one_text, h2{
     color: black;
     font-size: 30px;
     }
     
 
       /* The main 2 */
 .c_main_2 {
     height: 100%;
     background: white;
     padding: 2%;
   }
   
   .c_main_2_header {
   margin-left: auto;
   margin-right: auto;
   border: 2px solid none;
   height: 2cm;
   width: 100%;
   margin-top: 1.5cm;
   margin-bottom: -0.7cm;
   }
   
   .c_main_2_title {
   border: 2px solid none;
   width: auto;
   font-weight: 800;
   text-align: center;
   }
   
   .c_main_2_title_text {
   font-size: 39.5px;
   word-spacing: 0.1em;
   letter-spacing: 2px;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   margin-bottom: 0.4cm;
   }
   
   .c_main_2_content_search {
   height: auto;
   border: 2px solid none;
   width: 100%;
   }
 
   .c_search_2_input {
     width: 80%;
     height: 6.5vh;
     }
     
     .c_search_2_button {
     float: right;
     background: #f6921e;
     color: white;
     width: 20%; 
     height: 6.5vh;
     border-radius: 0.5rem;
     transition: all 500ms ease-in-out;
     }
 
     .c_search_2_button:hover {
       background: brown;
       transition: all 500ms ease-in-out;
     }
     
     .c_search_2_button:hover {
     opacity: 1;
     }
     
     .c_articles_row {
     border:pink none 2px;
     height: auto;
     display: inline-block;
     margin-top: 2cm;
     min-width: 100%;
     }
     
     .c_articles_column {
     border: 2px none red;
     background: white;
     width: 100%;
     height: 605px;
     margin-bottom: 1.5cm;
     display: none;
     margin-left: auto;
     margin-right: auto;
     }
     
     .c_articles_column:nth-child(1) {
     display: block;
     }
     
     .c_articles_column:nth-child(2) {
     display: block;
     }
     
     .c_articles_column:nth-child(3) {
     display: block;
     }
     
     .c_articles_load_button_container {
     border: none;
     width: 100%;
     padding: 1%;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     }
     
     .c_articles_load_button {
     margin-left: auto;
     margin-right: auto;
     width: 100%;
     cursor: pointer;
     padding: 2%;
     color: white;
     background: #f6921e;
     border-radius: 1rem;
     transition: all 1s ease-in-out;
     }
     
     .c_articles_load_button:hover {
         color: white;
         background: brown;
         transition: all 1s ease-in-out;
         }
     
     .c_articles_column_header {
     background: #04AA6D;
     }
     
     .c_articles_column_category {
     border-radius: 5em;
     width: auto;
     height: auto;
     background-color: #f6921e;
     padding: 2% 3.5% 2% 3.5%;
     color: black;
     letter-spacing: 0.1rem;
     font-size: 12px;
     margin-left: 0.5cm;
     margin-top: 0.5cm;
     position: absolute;
     text-align: center;
     }
     
     .c_articles_column_image {
     width: 100%;
     height: 5.6cm;
     }
     
     .c_articles_column_body {
     border: 2px solid white;
     padding: 6%;
     }
     
     .c_articles_column_body_title {
         border: 2px none red;
         margin-top: -8%;
         text-align: left;
         padding: 2.5%;
         margin-bottom: 1.3%;
         word-spacing: 0.1cm;
         letter-spacing: 0.01em;
     }
     
     .c_articles_column_body_content {
     padding: 2.5%;
     word-spacing: 0.1cm;
     letter-spacing: 0.01em;
     font-size: 11px;
     }
     
     .c_articles_column_body_content_paragraph {
     font-size: medium;
     color: black;
     border: 2px none rgb(218, 193, 9);
     line-height: 1.3em;
     height: 3.2cm ;
     padding: 2%;
     margin-top: -4.5%;
     overflow: auto;
     }
     
     .c_articles_column_body_readmore_content .c_articles_column_body_href {
     padding: 2% 4% 2% 4%;
     font-weight: bolder;
     margin-top: 0.4cm;
     background: #f6921e;
     border-radius: 2rem;
     transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
     }
     
     .c_read_more_articles_icon {
       color: white;
       font-size: 20px;
     }
     
     .c_articles_column_body_readmore_content .c_articles_column_body_href:hover{
         color: white;
         background: brown;
         transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
         }
     
     .c_articles_column_body_href {
     color: #ddd;
     font-weight: bolder;
     text-align: right;
     }
     
     .c_footer_content_text_container {
       border: 7px solid none;
       width: 100%;
       height: fit-content;
       line-height: 2.5ex;
       margin-top: 0.3cm;
       margin-bottom: 2.3cm;
       margin-left: auto;
       margin-right: auto;
       font-weight: 700;
       padding: 0%;
       text-align: center;
       font-size: 25px;
     }
     
 
     .c_footer_two {
         display: unset;
     }
     
       .c_more_content_A {
        border: 2px solid none;
        width: fit-content;
        margin-left: 4.5%;
      }
    
      .c_more_content_B {
        border: 2px solid none;
        width: fit-content;
        margin-left: 6.5%;
      }
    
      .c_more_content_C {
        border: 2px solid none;
        width: fit-content;
        margin-left: 8%;
      }
    
      .c_more_content_D {
        border: 2px solid none;
        width: fit-content;
        margin-left: 8%;
      }

      .c_more_content .c_icon_footer_five_general_styling {
        font-size: 22.5px;
      }
 
     .c_footer_five .c_footer_five_container .c_footer_five_container_one{
         display: unset;
         padding: unset;
     }
     
 
     /* The subscribe form**/
 
 
 .c_subscribe_title_container {
     padding: 2%;
     border: none 2px solid;
     background-color: #f1f1f1;
     margin-bottom: 0.2cm;
     margin-top: 0.2cm;
     line-height: 2em;
   }
   
   .c_subscribe_title_inner_text {
       font-size: 25px;
       font-weight: 500;
       color: rgb(16, 20, 122);
       padding: 1.8%;
   }
 
   
   .c_subscribe_title_container p{
     color: blue;
     font-size: 25px;
     font-weight: 700;
   }
 
   .c_subscribe_title_container h2{
     color: blue;
     font-size: 35px;
     font-weight: 700;
   }
   
   .c_Subscribe_form {
     background-color: rgb(16, 20, 122);
     display: flex;
     border: none;
     margin-left:0;
     background-color:whitesmoke;
   }
   
   .c_subscribe_form_container {
     margin: 0%;
     border: 2px none red;
     background-color: transparent;
     padding: 8% 0% 8% 0%;
   }
   
   .c_subscribe_main_form {
     display: table;
   }
   
 
   .c_subscribe_form_container {
     width: 100%;
 }
   .c_subscribe_input_types {
     border: 2px solid black;
     color: black;
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     box-sizing: border-box;
     height: 1.35cm;
     margin-left: 0%;
     margin-bottom: 2.1vh;
   }
   
   .c_subscribe_Daily_Newsletter {
     float: left;
     margin-top: 1.1vh;
     border: none;
     margin-left: 0.8em;
   
   }
   
   .c_subscribe_Daily_Newsletter_text {
       font-size: 30px;
       color: white;
   }
   
   input[type=checkbox] {
     width: 30px;
     height: 30px;
     cursor: pointer;
   }
   
   
   .c_Subscribe_button_container {
     float: left;
     margin-top: 0.5cm;
     border: 2px none green;
     box-sizing: border-box;
     margin-left: 0%;
     width: 100%;
     border-radius: 5rem;
   }
   
   .c_Subscribe_submit_button {
     width: 100%;
     height: 1.30cm;
     cursor: pointer;
     border-radius: 5rem;
     box-sizing: border-box;
   }
   
   input[type=text], input[type=submit] {
     font-size: larger;
     padding: 12px;
     display: inline-block;
     border: 1px solid black;
     box-sizing: border-box;
     border-radius: 5rem;
   }
   
   .c_Subscribe_to_our_Newsletter {
     font-size: x-large;
     line-height: 2em;
     text-align: center;
     color: rgb(16, 20, 122);;
     font-size: 30px;
     border-top: 2px dashed rgb(16, 20, 122);;
     width: auto;
     text-align: center;
   }
   
   input[type=submit] {
     background-color: #04AA6D;
     color: black;
   }
   
   input[type=submit]:hover {
     opacity: 0.8;
   } 
     
      .c_footer_five_container_one_A, .c_footer_five_container_one_B, .c_footer_five_container_one_C, .c_footer_five_container_one_D{
         margin-left: unset;
         border: unset;
         margin-right: unset;
         font-size: larger
     }
 
     .c_footer_five {
       margin-bottom: 0 !important;
       margin-left: 0 !important;
     }

     .c_footer_five_container {
       margin-left: 5%;
     }
     
      .c_footer_five_container .c_footer_five_container_one .c_footer_five_container_one_A .c_footer_five_container_paragraph_one,      .c_footer_five_container .c_footer_five_container_one .c_footer_five_container_one_B .c_footer_five_container_paragraph_one{
       color: white;
     }
 
     .c_footer_five_container .c_footer_five_container_one .c_footer_five_container_one_C .c_footer_five_container_one_B_content_A .c_footer_navbar_text {
       color: white;
     }
 
     .c_footer_five_container .c_footer_five_container_one .c_footer_five_container_one_D .c_footer_five_container_one_B_content_B .c_footer_navbar_text {
       color: white;
     }

    .c_footer_five_container_one_B .c_footer_five_container_paragraph_one .c_icon_footer_five_header  {
        font-size: 30px !important;
     }

     .c_footer_five_container_one_B .c_footer_five_container_paragraph_one .c_icon_footer_five_general_styling {
        font-size: larger;
     }

     .c_footer_five_container_one_A, .c_footer_five_container_one_B, .c_footer_five_container_one_C{
        margin-bottom: 10.5%;
    }


    .c_footer_five_container_one_D{
        margin-bottom: -10%;
    }

 
     .c_footer_five .c_footer_five_container .c_footer_five_container_one{
       margin-bottom: 1cm;
   }







    .c_menu_shortcut_icon_container {
      cursor: pointer;
      margin-top: -15%;
      margin-right: 1.1cm;
      float: right;
    }
    
    .c_bar1, .c_bar2, .c_bar3 {
      width: 65px;
      height: 7.5px;
      background-color:  #f6921e;
      margin: 7.5px 0;
      transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    
    .change .c_bar1 {
      transform: translate(0, 11px) rotate(-45deg);
    }
    
    .change .c_bar2 {opacity: 0;}
    
    .change .c_bar3 {
      transform: translate(0, -11px) rotate(45deg);
    }
  
    .c_articles_column_body_href .c_icon_read_general_styling {
      color: black;
    }
  
    .c_articles_column_body_href .c_icon_read_general_styling:hover {
      color: white;
    }
  

















 }
 