* {
    background-image: linear-gradient(30deg, whitesmoke, whitesmoke, white);
}


main {
}


.c_content {
    padding: 8px 90px;
    font-family: "Roboto", sans-serif;
    border: none 4px solid;
}

.c_content p {
    line-height: 1.9;
}

.c_content img {
    max-height: 300px;
    float:left;
}

/*share button*/

.c_share_button_container {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0m 0, 0.3);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 95%;
}

.c_share_button_container a i {
    margin: 12px 0;
    transition: 500ms;
}

.c_share_button_container a:hover {
    transform: scale(1.2);
}

.c_share_button_container .fa-facebook{
    color: #3b5998;
}

.c_share_button_container .fa-twitter{
    color: #1da1f2;
}

.c_share_button_container .fa-linkedin{
    color: #0077b5;
}

.c_share_button_container .fa-whatsapp{
    color: #25d366;
}

.c_social_icons_share_link i {
    font-size: 30px;
}

.c_share_content_button_container p {
   text-align: center;
}

.c_social_link_container {
    border: none 1px solid;
    text-align: center;
    width: 5px;
    margin-top: -0.51cm;
    margin-right: 20px;
}

.c_social_content_icons_share_link {
    margin-left: 1cm;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}


.c_share_content_button_container .fa-facebook{
    color: #3b5998;
}

.c_share_content_button_container .fa-twitter{
    color: #1da1f2;
}

.c_share_content_button_container .fa-linkedin{
    color: #0077b5;
}

.c_share_content_button_container .fa-whatsapp{
    color: #25d366;
}

.c_content_paragraph {
    border: 2px solid none;
}

.c_content_paragraph_one .c_share_social_image {
    border: 2px solid none;
    padding-right: 20px;
    min-height: 100%;
}

.c_content_paragraph_two {
    text-decoration: underline none;
    text-align: right;
    font-size: medium;
    line-height: 1cm;
    width: 70%;
    border: 2px solid none;
}

.c_content_paragraph_container {
    border: none 2px solid;
    width: 70%;
    float: right;
    text-align: left;
}


footer {
    border: 2px solid black
}


/*media queries */

@media(max-width: 650px) {
    .c_content {
        padding: 8px 8px;
    }
    

    /*share button*/
    
    .c_social_link_container {
        border: none 1px solid;
        text-align: left;
        width:unset;
        margin-top: unset;
        margin-right: unset;
    }

    .c_share_button_container {
        transform: unset;
        top: unset;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        flex-direction: row;
        box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
        justify-content: center;
        margin-left: unset;
    }

    .c_share_content_button_container p {
        text-align: left;
     }

    .c_content_paragraph_container {
        border: none 2px solid;
        width: unset;
        float: unset;
        text-align: left;
    }

    .c_share_button_container a{
        margin: 0 32px;
    }

    .c_share_social_image {
        max-width: 90%;

    }

    .c_social_icons_share_link i {
        font-size: 10px;
    }

    .c_share_content_button_container {
        border: 2px solid none;
    }

    .c_social_content_icons_share_link {
        margin-left: 1cm;
        font-size: 25px;
        text-decoration: none;
        display: inline-block;
        text-align: center;
    }

    
    .c_share_content_button_container .fa-facebook{
        color: #3b5998;
    }

    .c_share_content_button_container .fa-twitter{
        color: #1da1f2;
    }

    .c_share_content_button_container .fa-linkedin{
        color: #0077b5;
    }

    .c_share_content_button_container .fa-whatsapp{
        color: #25d366;
    }

    footer{
        border: none;
        font-size: 15px;
        color: black;
        text-align: center;
    }

    .c_footer_one .c_footer_content_text_container p {
        font-size: 25px;
    }

    .c_footer_two .c_footer_two_1, .c_footer_two_2, .c_footer_two_3, .c_footer_two_4 {
        text-align: left;
        padding: 0.1% 12%;
    }

    .c_footer_two .c_more_content {
        font-size: small;
        color: blue;
        letter-spacing: 0.1em;
    }

    .c_footer_two_contain .c_footer_two_content_list a .c_footer_two_content_list_items {
        color: black;
        line-height: 1.5em;
        color: blue;
        letter-spacing: 0.09em;
    }

    .c_footer_two_contain .c_footer_two_content_list a {
        text-decoration: none;
        list-style-type: none;
        transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-property: all;
        transition-duration: 2s;
        transition-delay: 0ms;
        transition-timing-function: steps(2, 10);
    }

    .c_footer_two_contain .c_footer_two_content_list a:hover {
        text-decoration: underline 7.5px #25d366;
        list-style-type: none;
        transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .c_contact_map_text_container{
        font-size: 25px;
    }

    .c_contact_map_text {
        letter-spacing: 2.5px;
    }

    .c_Subscribe_form .c_landing_page_subscribe_form{
        border: none 2px solid;
        margin-top: 5%;
    }

    .c_landing_page_subscribe_form form {
        font-size: 20px;
        display: grid;
    }

    .c_Subscribe_to_our_Newsletter {
        color:#25d366;
    }

    .c_subscribe_input_types {
        height: 1cm;
        margin-bottom: 0.5cm;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        font-size: larger;
        border: 1px solid black;
        border-radius: 0.2rem;
    }

    .c_subscribe_Daily_Newsletter input[type=checkbox] {
        width: 20px;
        height: 20px;
    }

    .c_subscribe_Daily_Newsletter {
        border: 2px solid none;
        margin-left: 0.3cm;
        text-align: left;
    }

    .c_Subscribe_button_container {
        border: 1px solid none;
        margin-top: 0.2cm;
    }

    .c_Subscribe_button_container .c_Subscribe_submit_button {
        min-width: 20%;
        margin-left: 0.3cm;
        padding: 2%;
        font-size: 20px;
        text-align: left;
        float: left;
        border: 2px solid#04AA6D;
        cursor: pointer;
        border-radius: 3rem;
    }


    .c_footer_five_container_one_A{
        font-size: 20px;
    }

    .c_footer_five_container_one_B a{
        font-size: 15px;
        line-height: 1.6rem;
        color: black
    }

    .c_social_media_link_section .c_footer_navbar_text {
        text-decoration: none;
        padding: 2%;
    }
    
    .c_social_media_link_section .fa-facebook-official{
        color: #3b5998;
    }
    
    .c_social_media_link_section .fa-twitter{
        color: #1da1f2;
    }
    
    .c_social_media_link_section .fa-linkedin{
        color: #0077b5;
    }
    
    .c_social_media_link_section .fa-whatsapp{
        color: #25d366;
    }

    .c_footer_five_container_one_B {
        border-top: 3px solid blue;
        border-bottom: 3px solid blue;
    }
    .c_footer_five_container_one_B_content_B .c_footer_navbar_text {
        text-decoration: none;
    }

    .c_footer_five {
        margin-bottom: 2.5cm;
    }
}








