* {
    color: black;
    font-family: "Roboto", sans-serif;
}


main {
  border: none 2px solid;
  overflow: auto;
  padding: 3.5% 10% 12% 10%;
  display: contents;
 }

.c_content {
    border: none 4px solid;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.c_content_title_container {
  border: 12px solid none;
  height: fit-content;
  display: flex;
  justify-content: left;
}

.c_content_paragraph_container {
  border-top: #f6921e 4px solid;
  display: block;
  text-align: left;
  padding: 0%;
  line-height: 2.2em;
}

.c_content_paragraph {
  border: none;
}

.c_content p {
  border: none;
}

.c_content img {
    border: none 4px solid;
    max-height: 400px;
    float:left;
    padding: 1%;
    filter: drop-shadow(.45em .45em .5em);
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s ;
    cursor: pointer;
}

.c_content img:hover {
  max-height: 410px;
  padding: 0.8%;
  filter: drop-shadow(.65em .65em .2em);
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s ;
  cursor: crosshair;
  position: relative;
  left: -2%;
}



.c_content_paragraph_one .c_share_social_image {
  border: 2px solid none;
  padding-right: 20px;
  min-height: 100%;
}

.c_content_paragraph_two {
  text-decoration: underline none;
  text-align: right;
  font-size: medium;
  line-height: 0.6cm;
  width: 70%;
  border: 2px solid none;
}




/*share button*/

.c_share_button_container {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0m 0, 0.3);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 95%;
}

.c_share_button_container a i {
    margin: 12px 0;
    transition: 500ms;
}

.c_share_button_container a:hover {
    transform: scale(1.2);
}

.c_share_button_container .fa-facebook{
    color: #3b5998;
}

.c_share_button_container .fa-twitter{
    color: #1da1f2;
}

.c_share_button_container .fa-linkedin{
    color: #0077b5;
}

.c_share_button_container .fa-whatsapp{
    color: #25d366;
}

.c_social_icons_share_link i {
    font-size: 30px;
}

.c_share_content_button_container {
  border: solid 1px none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.c_share_content_button_container .c_share_content_title {
  border: solid 1px none;
  font-weight: bolder;
  font-size: larger;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.c_social_link_container {
    border: solid 1px none;
    width: 60%;
}


.c_social_content_icons_share_link {
  border: 2px solid none;
  display: inline-block;
  margin-left: 2%;
  height: 0.8cm;
}


.c_sharing_link_icon {
  border: 2px solid none;
  width: fit-content;
  display: flex;
  float: right;
  position: relative;
  margin-right: -2%;
  margin-top: -3.5%;
}

.c_sharing_link_text {
  border: 2px solid none;
  display: flex;
}

.c_share_button_text {
  border: 2px solid none;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

.c_facebook_sharing_link, .c_twitter_sharing_link, .c_linkedin_sharing_link, .c_whatsapp_sharing_link {
  background-color: #3b5998;
  padding: 0.7% 1% 0% 1%;
  box-sizing: border-box;
  border-radius: 1rem;

}

.c_facebook_sharing_link {
  background-color: #3b5998;
}

.c_twitter_sharing_link {
  background-color: #1da1f2;
}

.c_linkedin_sharing_link {
  background-color: #0077b5;
}

.c_whatsapp_sharing_link {
  background-color: #25d366;
}

.c_share_content_button_container .fa-facebook{
    color: white;
    font-size: 25px;
    margin-top: 0.5%;
}

.c_share_content_button_container .fa-twitter{
    color: white;
    font-size: 25px;
}

.c_share_content_button_container .fa-linkedin{
    color: white;
    font-size: 25px;
}

.c_share_content_button_container .fa-whatsapp{
    color: white;
    font-size: 25px;
}













/*website icon styling both big size and media query*/



@media(max-width: 856px) {
/*website icon styling both big size and media query*/

  .c_share_content_button_container {
    border: solid 1px none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .c_social_media_link_section .c_fa_social_icons {
    margin-right: 2.5%;
    font-size: 25px;
    color: white;
  }


  .c_social_link_container {
    border: solid 1px none;
    width: 100%;
  }

  .c_social_content_icons_share_link {
    border: 2px solid none;
    display: inline-block;
    margin: 2%;
    height: 0.8cm;
  }

}









