* {
    color: black;
    font-family: "Roboto", sans-serif;
}

.c_content_title_header_container {
  border: 2px solid none; 
  display: flex;
  flex-wrap: wrap;
}

.c_c_t_h_c {
  width: fit-content !important;
  margin-left: 5%;
}

.c_content_title {
  border: 2px solid none;
  width: 100%;
}

.c_blog_author {
  border-left: 3px solid none;
  width: fit-content;
  height: auto;
}

.c_blog_author_container {
  border: 2px solid none;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5%;
  width: fit-content;
  position: absolute;
  margin-top: 1%;
}

.c_blog_author_li {
  border: 2px solid none;
  width: 100%;
  height: 0.4cm;
  display: flex;
  line-height: 0.99em;
}

.c_blog_author_li .c_blog_author_p {
  border: 2px solid none;
  width: 100%;
  height: 100%;
  font-size: x-small;
}

.c_blog_author_li .c_blog_author_p:nth-child(2){
  border: none;
}

main {
  border: none 2px solid;
  overflow: auto;
  padding: 3.5% 10% 12% 10%;
  display: contents;
 }

.c_content {
    border: none 4px solid;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.c_content_title_container {
  border: 12px solid none;
  height: fit-content;
  display: flex;
  justify-content: left;
}

.c_content_paragraph_container {
  border-top: #f6921e 4px solid;
  display: block;
  text-align: left;
  padding: 0%;
  line-height: 2.2em;
}

.c_content_paragraph {
  border: none;
}

.c_content p {
  border: none;
}

.c_content_paragraph_one  {
  border: 2px solid none;
  padding-right: 20px;
  margin-left: 10%;
}

.c_content img {
    border: none 4px solid;
    max-height: 400px;
    width: 400px;
    float:left;
    padding: 1%;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s ;
    cursor: pointer;
}

.c_content img:hover {
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s ;
}

.c_table_of_content_button_bar1, .c_table_of_content_button_bar2, .c_table_of_content_button_bar3 {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 8px 5px;
  transition: 0.4s;
}

.c_table_of_content_button_close_bar {
  border: 2px solid none;
  margin-top: auto;
  margin-bottom: auto;
}

 .c_table_of_content_button_bar1_close {
  -webkit-transform: rotate(-40deg) translate(-2px, 0px);
  transform: rotate(-40deg) translate(-2px, 0px); 
  width: 25px;
  height: 2.5px;
  background-color: black;
} 

.c_table_of_content_button_bar2_close {
  opacity: 0;
}

.c_table_of_content_button_bar3_close {
  -webkit-transform: rotate(40deg) translate(-2px, 0px);
  transform: rotate(40deg) translate(-2px, 0px);  
  width: 25px;
  height: 2.5px;
  background-color: black; 
} 

.c_table_of_content_button_container {
  border: 2px solid none;
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
}

.c_table_of_content_button {
  cursor: pointer;
  justify-content: center;
  display: flex;
}

.c_table_of_content_button .c_Table_of_content, .c_table_of_content_close_button .c_Table_of_content {
  border: 1px solid none;
  margin-top: auto;
  margin-bottom: auto;
}

.c_table_of_content_close_button_container {
  border: 2px solid none;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.c_table_of_content_close_button {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.c_table_of_content_modal {
  border: 2px solid none;
  position: fixed;
  width: fit-content;
  height: fit-content;
  margin-top: 5.5%;
  cursor: pointer;
  background-color: #f6921e;
  filter: drop-shadow(.45em .45em .5em);
  margin-left: -10%
}

.c_table_of_content_container {
  border: 2px solid none;
  display: none;
  width: 8cm;
  padding: 0.5%;
}

.c_table_of_content_details_container  {
  border: 2px solid none;
  padding: 0.5%;
}

.c_table_of_content_container_list {
  border: 2px solid none;
  padding: 0.5% ;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: #f6921e;
  counter-reset: item;
}

.c_table_of_content_list_details {
  border: 2px solid black;
}

.c_table_of_content_container_list .c_table_of_content_list_details {
  border: none 3px solid;
  list-style-type:none;
  text-decoration: none;
  padding: 0.5%;
}

.c_table_of_content_container_list .c_table_of_content_list_details:before {
  aspect-ratio: 1;
  counter-increment: item;
  content: counter(item);
  color: black;
}

.c_table_of_content_container_list .c_table_of_content_list_details a {
  border: none 3px solid;
  width: fit-content;
  text-decoration: none;
  color: black;
}

.c_table_of_content_container_list .c_table_of_content_list_details a:hover {
  text-decoration: 2px underline white;
}


.c_content_paragraph_two {
  text-decoration: underline none;
  text-align: left;
  font-size: medium;
  line-height: 0.6cm;
  width: 90%;
  border: 2px solid none;
  margin-left: auto;
  margin-right: auto;
  padding: 2% 5% 1% 7%;
  line-height: 2em;
}

.c_content_paragraph_two p {
  border: 2px solid none;
  margin-top: 1.5em;
  margin-bottom: 5.5em;
  width: fit-content;
}

.c_content_paragraph_two p {
  border: 2px solid none;
  margin-top: 1.5em;
  margin-bottom: 5.5em;
  width: fit-content;
}


/*share button*/

.c_share_button_container {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0m 0, 0.3);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 85%;
}

.c_follow_button_list_container {
  border: 2px solid none;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.c_share_button_container a i {
    margin: 12px 0;
    transition: 500ms;
}

.c_share_button_container a:hover {
    transform: scale(1.2);
}

.c_share_button_container .fa-facebook{
    color: #3b5998;
}

.c_share_button_container .fa-twitter{
    color: #1da1f2;
}

.c_share_button_container .fa-linkedin{
    color: #0077b5;
}

.c_share_button_container .fa-whatsapp{
    color: #25d366;
}

.c_social_icons_share_link i {
    font-size: 30px;
}

.c_share_content_button_container {
  border: solid 1px none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.c_share_content_button_container .c_share_content_title {
  border: solid 1px none;
  font-weight: bolder;
  font-size: larger;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.c_social_link_container {
    border: solid 1px none;
    width: 60%;
}


.c_social_content_icons_share_link {
  border: 2px solid none;
  display: inline-block;
  margin-left: 1%;
  height: 0.8cm;
}


.c_sharing_link_icon {
  border: 2px solid none;
  width: fit-content;
  display: flex;
  float: right;
  position: relative;
  margin-right: -2%;
  margin-top: -2%;
}


.c_sharing_link_text {
  border: 2px solid none;
  display: flex;
}

.c_share_button_text {
  border: 2px solid none;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  font-size: smaller;
  font-weight: 500;
}

.c_facebook_sharing_link, .c_twitter_sharing_link, .c_linkedin_sharing_link, .c_whatsapp_sharing_link {
  background-color: #3b5998;
  padding: 0.7% 1.5% 0% 1.5%;
  box-sizing: border-box;
  border-radius: 1.5rem;

}

.c_facebook_sharing_link {
  background-color: #3b5998;
}

.c_twitter_sharing_link {
  background-color: #1da1f2;
}

.c_linkedin_sharing_link {
  background-color: #0077b5;
}

.c_whatsapp_sharing_link {
  background-color: #25d366;
}

.c_share_content_button_container .fa-facebook{
    color: white;
    font-size: 20px;
    margin-top: 1%;
}

.c_share_content_button_container .fa-twitter, .c_share_content_button_container .fa-linkedin, .c_share_content_button_container .fa-whatsapp{
    color: white;
    font-size: 20px;
}

.c_content_paragraph_header {
  border: 2px solid none;
  text-align: left;
  font-weight: 700;
  margin-top: ;
}


.c_content_like_dislike_container {
  border: 2px solid black;
  margin: -1.0% 0% 1.5% 0%;
}

.c_content_like_dislike {
  border: 2px solid red;
  width: 50%;
  height: 1cm;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c_content_like {
  border: 2px solid green;
  width: 48%;
  height: 1cm;
}

.c_content_dislike {
  border: 2px solid blue;
  width: 48%;
  height: 1cm;
}









/*website icon styling both big size and media query*/



@media(max-width: 900px) {
/*website icon styling both big size and media query*/

main {
  border: none 2px solid;
  padding: 0%
 }

.c_content_title_header_container {
  border: 2px solid none;
  padding: 1.5%;
}
 

.c_share_button_container {
  border: 2px solid none;
  background: #fff;
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  position: fixed;
  top: 1;
  transform: translateY(40vh);
  margin-left: unset;
  bottom: 1;
}

.c_follow_button_list_container {
  border: 2px solid none;
  display: flex;
  flex-direction: unset;
  width: 100%;
  justify-content: center;
}

.c_follow_button_title {
  border: 2px solid none;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.c_social_icons_share_link {
  border: 2px solid none;
  margin-left: 10%;
  height: fit-content;
}

.c_c_t_h_c {
  width: fit-content !important;
  margin-left: 0%;
}

.c_blog_author_container {
  border: 1px solid black;
  position: relative;
  margin-top: unset;
  width: 50%;
}

.c_blog_author_li {
  border: 2px solid black;
}

.c_table_of_content_modal {
  margin-left: 67%;
  margin-top: 20%;
}

 .c_table_of_content_container  {
  margin-left: -30%;
  background-color: #f6921e;
} 

.c_table_of_content_button_container {
  border: 2px solid none;
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
}

.c_content_paragraph_one  {
  border: 2px solid black;
  padding-right: 0px;
  margin-left: 0%;
}

.c_content_paragraph_two {
  padding: 0%;
}

  .c_share_content_button_container {
    border: solid 1px none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .c_social_media_link_section .c_fa_social_icons {
    margin-right: 2.5%;
    font-size: 20px;
    color: black;
  }


  .c_social_link_container {
    border: solid 1px none;
    width: 100%;
    margin-bottom: 25%;
  }


  .c_social_content_icons_share_link {
    border: 2px solid none;
    display: inline-block;
    margin: 2%;
    height: 0.8cm;
    padding: 0.9% 3% 0% 3%;
    box-sizing: border-box;
    border-radius: 1.5rem;
  }


  .c_sharing_link_icon {
    border: 2px solid none;
    width: fit-content;
    display: flex;
    float: right;
    position: relative;
    margin-right: -2.5%;
    margin-top: -2%;
  }
  
  .c_content_paragraph_header {
    text-align: left;
  }

}









