body {
    border: 2px solid red;
    background-image: radial-gradient(circle at top left, black, white, white , white , white, black);
    height: 90vh;
    padding: 0;
    margin-top: 5vh;
    margin-bottom: auto;
    color: white;
    font-size: xx-large;
    font-style: oblique;
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    border: 2px solid blue;
    background-color: #191a15;
    height: 55vh;
}

main {
    border: 2px solid rgb(149, 20, 93);
    background-color: #ff9900;
    height: 25vh;
}

footer {
    border: 2px solid rgb(212, 255, 0);
    background: violet;
    position: relative;
    height: 10vh;
}

.supportfunds_logo {
    border: 2px solid red;
    width: 100%;
    color: white;
    filter: drop-shadow(.1em .1em .1em);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.supportfunds_logo a{
    border: 2px solid orange;
    width: fit-content;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
}

.supportfunds_link_redirection {
    border: 2px solid red;
    width: fit-content;
    font-size: 8px;
}

.supportfunds_link_redirection a {
    color: white;
    font-style: oblique;
    
}

.supportfunds_link_redirection a:hover {
    color: blue;`
}